@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ensure the search input remains above the dropdown */
.relative {
    position: relative;
}

/* Style for the wrapper div to control the height of the dropdown list */
.select-wrapper {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc; /* Add border to visually separate the dropdown */
    display: none; /* Hide the dropdown initially */
}

/* Adjust the dropdown list to fill the wrapper div */
#mySelect {
    width: calc(100% - 2px); /* Subtract 2px to account for the border */
    border: none;
    outline: none; /* Remove the default outline */
    appearance: none; /* Remove default styles in some browsers */
}
